*.suo
*.user
*.ncb
*.tmp
*.obj
*.o
*.db
*.a
*.so
*.xcworkspacedata
*.pbxuser
*.perspectivev3
bin/
tmp/
log/
map/
asm/
out/
windows32-bcc5/
windows32-bcc6/
windows32-cygwin/
windows32-icc12/
windows64-icc12/
windows32-mingw/
windows64-mingw/
windows32-msvc6/
windows32-msvc2002/
windows32-msvc2003/
windows32-msvc2005/
windows64-msvc2005/
windows32-msvc2008/
windows64-msvc2008/
windows32-msvc2010/
windows64-msvc2010/
windows32-msvc2012/
windows64-msvc2012/
windows32-msvc2013/
windows64-msvc2013/
windows32-wcc/
macosx/
unix/
unix-clang/
unix-gcc/
unix-nwcc/
unix-tcc/
unix-pcc/
