*.suo
*.user
*.ncb
*.tmp
*.obj
*.o
*.db
*.a
*.so
*.xcworkspacedata
*.pbxuser
*.perspectivev3
bin/
tmp/
log/
map/
asm/
out/
windows32-icc12/
windows64-icc12/
windows32-msvc2005/
windows64-msvc2005/
windows32-bcc/
windows32-wcc/
macosx/
unix/
unix-clang/
unix-gcc/
unix-nwcc/
unix-tcc/
unix-pcc/
